@inherits PdfTemplateBase<SampleComponentModel>

<style>
    .my-component {
        border: 2px dashed red;
        padding: 1em;
        margin: 1em 0;
    }
</style>

<div class="my-component">
    @Model.Text
</div>